body {
  margin: 0px;
}

.header {
  border: 1px solid red;
  position: relative;
}

.hero {
  background-image: url("../images/header-image.jpg");
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 1px solid red;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.navbar {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links {
  border: 1px solid red;
  flex-grow: 3;
}

.aboutme {
  border: 1px solid red;
}

.aboutme-title {
  border: 1px solid red;
}

.aboutme-info {
  border: 1px solid red;
}

.aboutme-image {
  border: 1px solid red;
}

.aboutme-contact {
  border: 1px solid red;
}

@media screen and (max-width: 812px) {
  .navbar {
    flex-direction: column;
  }
}
