body {
  margin: 0px;
}

.header {
  border: 1px solid red;
}

.hero {
  background-image: url("../images/header-image.jpg");
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 1px solid red;
}
