:root {
  --main: #f987a2;
  --accent: #68ecd2;
}

body {
  background-color: var(--main);
  font-family: "Cardo", serif;
  color: white;
  margin: 0px;
}

.header {
  position: relative;
}

.hero {
  background-image: url("../images/HeaderImage.png");
  height: 200px;
  background-size: cover;
  background-position: center;
}

.header-title {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  width: 100vw;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navbar-links {
  background-color: var(--accent);
  font-family: "Montserrat", sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 1rem;
  border: dotted black 2px;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  flex-grow: 3;
}

a {
  text-decoration: 0;
  color: white;
}

a:hover {
  color: var(--main);
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-shadow: 1px 1px 1px black;
  padding: 1rem;
  margin-top: 0pt;
  margin-bottom: 0pt;
}

.aboutme {
}

.aboutme-title {
}

.aboutme-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.aboutme-info {
  width: 40vw;
  padding: 1rem;
  flex-grow: 2;
}

.aboutme-image {
  align-content: center;
  flex-grow: 2;
}

.aboutme-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
  align-content: center;
}

.aboutme-contact p {
  padding: 1rem;
  margin-top: 0px;
}

.aboutme-contact img {
  width: 100px;
  padding: 1rem;
}

.projects {
  border: solid 1px red;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px red;
}

.project-card-1 {
  width: 40vw;
  padding: 1rem;
  border: solid 1px blue;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-shadow: 1px 0px 1px black;
  margin: 0px;
}

.project1image {
  width: 100%;
  filter: grayscale(1);
}

.project1image:hover {
  filter: grayscale(0);
}

.project-card {
  width: 20vw;
  justify-content: space-evenly;
  align-content: center;
  flex-grow: 2;
  background-color: royalblue;
  padding: 1rem;
  border: solid 1px red;
}

.project-card div img {
  width: 100%;
}

@media screen and (max-width: 812px) {
  .header-title {
    width: 100vw;
    font-size: 3rem;
  }

  .navbar {
    flex-direction: column;
    width: 100vw;
  }

  .aboutme-flex {
    flex-direction: column-reverse;
  }

  .aboutme-info {
    width: 90vw;
  }

  .aboutme-image img {
    width: 95vw;
  }

  .project-card-1 {
    width: 95vw;
  }

  .project-card div {
    width: 40vw;
  }

  .project-card div img {
    width: 35vw;
  }
}

@media screen and (max-width: 400px) {
  .project-card-1 {
    width: 95vw;
  }

  .header-title {
    width: 95vw;
    font-size: 2rem;
  }

  .aboutme-image img {
    width: 90vw;
  }

  .aboutme-info {
    width: 85vw;
  }
}
